#grid-container {
  width: 600px;
  background-color: rgb(41, 0, 0);
  border: 4px solid rgb(42, 206, 4);
  padding: 0;
}

#grid-container .row {
  height: 100px;
  margin: 0;
  border: 4px solid rgb(255, 119, 184);
}

#grid-container .row > div {
  border: 2px dotted rgb(38, 38, 43);
}

#grid-container .row:nth-child(1) > div:nth-child(1) {
  background: teal;
}
#grid-container .row:nth-child(1) > div:nth-child(2) {
  background: thistle;
}
#grid-container .row:nth-child(2) > div:nth-child(1) {
  background: tomato;
}
#grid-container .row:nth-child(2) > div:nth-child(2) {
  background: turquoise;
}
#grid-container .row:nth-child(3) > div:nth-child(1) {
  background: violet;
}
#grid-container .row:nth-child(3) > div:nth-child(2) {
  background: yellowgreen;
}