#grid-container {
  width: 600px;
  background-color: rgb(41, 0, 0);
  border: 5px solid rgb(4, 255, 4);
  padding: 0;
}

#grid-container .row {
  height: 200px;
  margin: 0;
  border: 5px solid rgb(255, 188, 188);
}

#grid-container .row > div {
  border: 2px dotted rgb(38, 38, 43);
}

#grid-container .row:nth-child(1) > div:nth-child(1) {
  background-color: teal;
}

#grid-container .row:nth-child(1) > div:nth-child(2) {
  background-color: thistle;
}

#grid-container .row:nth-child(2) > div:nth-child(1) {
  background-color: tomato;
}

#grid-container .row:nth-child(2) > div:nth-child(2) {
  background-color: turquoise;
}

#grid-container .row:nth-child(3) > div:nth-child(1) {
  background-color: violet;
}

#grid-container .row:nth-child(3) > div:nth-child(2) {
  background-color: yellowgreen;
}